html body{
    margin: 0;
    color: black;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(190deg, #847f7c, #EEF0EF 50%, #E9D2FF);
    font-size: 18px;
}
h1 {
    padding-top: 48vh;
    padding-bottom: 48vh;
    background-image: url('kaboompics_Workspace in the living room.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0;
    text-align: center;
    font-size: 42px;
}
h2{
    text-align: center;
    font-size: 32px;
}
/* About me starts */
@media only screen and (min-width: 1501px) {
    .about_me_container {
        display: flex;
        max-width: 100%;
        justify-content: space-evenly;
        align-items: center;
        flex: 1 0 auto;
        padding: 50px;
    }

    .about_me_element {
        width: 40%;
    }
}
/* Add media responsiveness for phone screens */
@media only screen and (max-width: 1500px) {
    .about_me_container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 1 0 auto;
        margin: 20px;
        flex-wrap: wrap;
    }

}

/* About me ends */

/* Project 1*/
.project_container {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex:1 0 auto;
    flex-wrap: wrap;
}
.window{
    position: fixed;
    padding:20px;
    border-radius:5px;
    display: none;
    background:white;
    text-align:center;
    z-index:5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}
button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}
button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}
button:focus {
    outline: 1px transparent;
}
button:before {
    display: none;
}
button::-webkit-details-marker {
    display: none;
}
/* Project 1 ends*/

